<h1>Add a category</h1>
<p>Add a category here:</p>
<form action="/form/result" method="post">

  <label for="user-writing" name="user-writing" type="text">
  <input id='user-writing'<label for="user-writing" name="user-writing" type="text">

  <label for="user-word" name="user-word" type="text">
  <input id='user-word' name='user-word' type='text'>

  <button type="submit">Add</button>
</form>
