@{
  Layout = "_Layout";
}
    <p>by @BunnyMarie</p>
    <p>Hi! This is a web app that finds all instances of a specified word in a sample of writing. It was created using #C, ASP.NET, and bootstrap.</p>
    <p><a href="/form">Start</a></p>
